---
layout: default
title: Resources
permalink: /resources/
---
<h1>Resources</h1>

<div class="panel-group" id="accordion">
{% for collection in site.data.resources %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{collection.name}}">
          {{collection.name}}
        </a>
      </h4>

      <p>{{collection.description}}<p>

    </div>
    <div id="{{collection.name}}" class="panel-collapse collapse in">
      <div class="panel-body">
        {% for resource in collection.resources %}
          <h3>{{resource.name}}</h3>
          <p>{{resource.description}}<p>
          <a href="{{resource.link}}">{{resource.link}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>