<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="{{ "/assets/stylesheets/landing_page/default.css" | prepend:site.baseurl }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/assets/stylesheets/landing_page/component.css" | prepend:site.baseurl }}" />
  <script src="js/modernizr.custom.js"></script>

  <link rel="stylesheet" href="{{ "/assets/stylesheets/components.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/stylesheets/style.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ "/assets/stylesheets/shiori.css" | prepend:site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/stylesheets/codelab.css" | prepend:site.baseurl }}">

  <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <title>{{page.title}}</title>
</head>
<body>
  {% include header.html %}

  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          {{ content }}
        </div>
    </div>
    <div class="row footer">
      <div class="col-sm-12 text-center">
        {% include footer.html %}
      </div>
    </div>
  </div>

  <script src="{{ "/js/jquery.min.js" | prepend:site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend:site.baseurl }}"></script>
</body>
</html>